<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>정글 차이</title>
    <style>
        .bird {
            position: absolute;
            top: 50%;
            left: 25%;
            width: 200px;
            height: 200px;
            transition: transform 0.2s;
        }

        .bg-jungle {
            background-image: url('../static/background.jpg');
        }

        body {
            overflow: hidden;
            /* Disable scrolling */
        }
    </style>
</head>

<body class="bg-jungle bg-cover bg-no-repeat">

    <div class="relative">
        <img id="bird" src="../static/bird3.gif" alt="Bird" class="bird absolute top-1/2 left-1/4">
    </div>

    <script>
        let jump = false;

        function handleJump() {
            if (!jump) {
                jump = true;
                let pos = parseInt($("#bird").css("top"));
                $("#bird").css("top", pos - 50 + "px");

                setTimeout(() => {
                    jump = false;
                }, 200);
            }
        }

        $(window).keydown(function (event) {
            if (event.code === "Space") {
                handleJump();
                event.preventDefault();
            }
        });

        function moveDown() {
            const currentPosition = parseInt($("#bird").css("top"));
            const windowHeight = $(window).height();
            const birdHeight = $("#bird").height();

            if (currentPosition + birdHeight < windowHeight) {
                $("#bird").css("top", currentPosition + 3 + "px");
            }
        }

        function startMovingDown() {
            setInterval(moveDown, 50);
        }

        $(document).ready(startMovingDown);
    </script>

</body>

</html>