<!doctype html>
<html lang="en">
  <head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- import 모듈 사용할 파일 지정 -->
    <script type="module" src="../static/ingame/ingame.js"></script>

    <title>정글 차이</title>

</head>

<body class="bg-[url('../static/background.jpg')] bg-fixed bg-cover bg-no-repeat">

    <!-- 상단바 -->
    <div class="flex mt-3">
        <!-- 체력 -->
        <div id="hp-box" class="flex">
            <img id="hp" src="../static/heart.png" alt="HP" class="size-20">
            <img id="hp" src="../static/heart.png" alt="HP" class="size-20">
            <img id="hp" src="../static/heart.png" alt="HP" class="size-20">
        </div>
        <span style="left: 42%; margin-top: 7px; color: #F6D776" class="text-5xl absolute font-black drop-shadow-[0_6px_0px_rgba(0,0,0,0.8)]">점수: </span>
        <!-- 스코어 -->
        <div style="color: #F6D776" id="score" class="flex left-1/2 absolute text-6xl text-center size-20 font-black drop-shadow-[0_6px_0px_rgba(0,0,0,0.8)]">0</div>
        <!-- 나가기 버튼 -->
        <img id="exit-btn" src="../static/exit.png" alt="Exit" class="absolute right-4 size-20 hover:brightness-75 active:brightness-50 cursor-pointer">
    </div>

    <!-- 퀴즈 -->
    <div id="question-box"
        class="absolute top-24 flex items-center p-4 mb-4 text-3xl text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span id="question" class="font-medium">퀴즈! 1+1?</span>
        </div>
    </div>

    <!-- 새 -->
    <div>
        <img id="bird" src="../static/bird.gif" alt="Bird" class="absolute top-1/2 left-10 size-32">
    </div>

</body>

</html>