<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='background.jpg') }}");
            background-size: cover;
        }
        h1 {
            color: #254E3C;
            font-size: 88px;
        }
    </style>
</head>
<body>
    <h1>정글차이</h1>
    <form method="post" action="/login">
        <label for="username">ID:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">PW:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="로그인">
        <br>
        <a href="/signup">회원가입</a>
    </form>
</body>
</html>
