<!doctype html>
<html lang="en">

<head>
  <title>정글 차이</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../static/main/tailwind_config.js"></script>
  <link rel="stylesheet" href="../static/main/tailwind_config.css">
  <script src="../static/main/main.js"></script>
  <script type=text/javascript>
    var ranking_list = JSON.parse({{ ranker | tojson | safe}});
  </script>
</head>

<body class="bg-[url('/static/background.jpg')] bg-cover">
  <div class="mb-20">
  </div>
  <div>
    <img id="title" src="../static/title.png" alt="Title" class="absolute" style="left: 50%; top:18%; transform: translate(-50%, -50%);">
  </div>
  <div class="h-60"></div>
  <div
    class="min-w-screen flex-col max-w-md min-h-200 mx-auto bg-customJgColor3 opacity-100 px-4 bg-no-repeat bg-cover bg-center rounded-3xl">
    <div class="h-8"></div>
    <div class="p-6 border rounded-lg">
      <label class="font-jgF1 ml-12 text-md text-white"> 프로필</label>
      <label class="font-jgF1 text-md text-white ml-2">|</label>
      <label class="font-jgF1 ml-2 relative text-md text-white"> 아이디: {{userid}}</label>
      <label class="font-jgF1 text-md text-white ml-2">|</label>
      <label class="font-jgF1 ml-2 relative text-md text-white"> 최고점수: {{score}}</label>
    </div>
    <div class="h-10"></div>
    <div class="flex flex-col items-center justify-center">
      <a class="ingame hover:brightness-75 active:brightness-50 cursor-pointer font-jgF1 h-10 w-5/12 border-2 bg-customJgColor2 rounded-lg text-white text-center py-2">
        게임시작
      </a>
      <div class="h-4"></div>
      <a id="ranking"
        class="hover:brightness-75 active:brightness-50 cursor-pointer font-jgF1 h-10 w-5/12 border-2 bg-customJgColor2 rounded-lg text-white text-center py-2">
        랭킹보기
      </a>
      <div class="h-4"></div>
      <a class="logout hover:brightness-75 active:brightness-50 cursor-pointer font-jgF1 h-10 w-5/12 border-2 bg-customJgColor2 rounded-lg text-white text-center py-2">
        로그아웃
      </a>

      <!-- 형이 작업 -->
      <div id="modalBackground" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-70 opacity-0 -z-10">
        <div id="modalWindow" class="relative w-full h-full">
          <div
            class="bg-customBgColor1 bg-opacity-100 absolute border-8 border-customJgColor2 rounded-3xl top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-60 transition-transform duration-500 transform translate-x-(-50%) translate-y-(-50%) shadow-md w-800 h-500 flex flex-col justify-center">
            <h1 class="font-jgF1 px-60 text-center text-customJgColor2 text-customFontSize2 pb-10 my-8 mx-10">RANKING
            </h1>
            <div id="rankBoard" class="min-h-20 min-w-full">
              <ul id="ranking-list" class="px-4">
                <!-- 랭킹 리스트 추가 부분 -->
              </ul>
            </div>
            <a id="close"
              class="hover:brightness-75 active:brightness-50 cursor-pointer font-jgF1 mx-auto h-10 w-5/12 border-2 bg-customJgColor2 rounded-lg text-white text-center items-center my-10 py-2">
              랭킹닫기</a>
          </div>
        </div>
      </div>
      <!-- 형이 작업 -->
    </div>
    <div class="h-10">
    </div>
  </div>
  </div>
  </div>
</body>


</html>